body {
/*anything here is applied to all child elements, as below
unless specifically ovewritten. see em example where font has been
overwritten*/
    font-family: Verdana, Geneva, Arial, sans-serif; /*it seems that the first
one is applied if more than one type is provided*/
    font-size: 14px;
    color: silver;
    font-weight: lighter;
    text-decoration: underline;
}
h1, h2 {
    color      : gray;
}

h1 {
    border-bottom: 1px solid black;
}
 
p {
       color: maroon;
}

em {
    font-family: serif;
}

/*apply rule to both classes p and blockquote*/
p.blueberry {
    color: purple;
}

p.cranberry {
    color: brown;
}

p.greentea {
    color: green;
}

p.raspberry {
    color:blue;
}


