body {
    background-color: #b5a789;
    font-fmaily:      Georgia, "Times New Roman", Times, serif;
    font-size:        small;
    margin:           0px;
}

#header {
    background-color: #675c47;
    margin:           0px;
    height:           108px;
}
#mypic {
    float: left;
    padding: 20px;
    border-style: ridge ;
    margin: 10px;
}

#main {
     background: #efe5d0 url(images/background.gif) top left;
    font-size: 105%;
    padding:   15px;
/*     margin:    0px 330px 10px 10px; */
    margin:    0px 10px 10px 10px;
    width: 420px;
    float:left;
   
    
}
#sidebar {
    background: #efe5d0 url(images/background.gif) bottom right;
    font-size : 105%;
    padding: 15px;
/*  one way of floating*/
    /*     margin: 0px 330px 10px 10px;
    width: 280px;
    float: right;
 */
/*      another way of floating that would work on phones as well*/
    margin: 0px 10px 10px 470px;
}
#footer {
    background-color: #675c47;
    color: #efe5d0;
    text-align: center;
    padding: 15px;
    margin: 10px;
    font-size: 90%;
    /*no floating content is allowed on the right of the footer.*/
    clear: left; 
}

h1 {
    font-size: 120%;
    color: #954b4b;
}

.slogan { color: #954b4b;}
.beanheading {
    text-align: center;
    line-height: 1.8em;
}
a:link {
    color: #b76666;
    text-decoration: none;
    border-bottom: thin dotted #b76666;
}

a:visited {
    color: #b65c47;
    text-decoration: none;
    border-bottom: thin dotted #b65c47;
}


